<settings>
    <setting propertyKey="@Properties.GlanceMode" title="Glance Item">
        <settingConfig type="list">
            <listEntry value="0">Pair of Dice</listEntry>
            <listEntry value="1">Random Number</listEntry>
            <listEntry value="2">Random Name</listEntry>
            <listEntry value="3">Yes / No</listEntry>
            <listEntry value="4">Rock Paper Scissors</listEntry>
            <listEntry value="5">Magic 8 Ball</listEntry>
            <listEntry value="6">Coin Flip</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.MainMode" title="In-App Center Item">
        <settingConfig type="list">
            <listEntry value="0">Pair of Dice</listEntry>
            <listEntry value="1">Random Number</listEntry>
            <listEntry value="2">Random Name</listEntry>
            <listEntry value="3">Yes / No</listEntry>
            <listEntry value="4">Rock Paper Scissors</listEntry>
            <listEntry value="5">Magic 8 Ball</listEntry>
            <listEntry value="6">Coin Flip</listEntry>
        </settingConfig>
    </setting>
        <setting propertyKey="@Properties.TopMode" title="In-App Top Item">
        <settingConfig type="list">
            <!-- <listEntry value="0">Pair of Dice</listEntry> -->
            <listEntry value="1">Random Number</listEntry>
            <listEntry value="2">Random Name</listEntry>
            <listEntry value="3">Yes / No</listEntry>
            <listEntry value="4">Rock Paper Scissors</listEntry>
            <!-- <listEntry value="5">Magic 8 Ball</listEntry> -->
            <listEntry value="6">Coin Flip</listEntry>
        </settingConfig>
    </setting>

        <setting propertyKey="@Properties.BottomMode" title="In-App Bottom Item">
        <settingConfig type="list">
            <!-- <listEntry value="0">Pair of Dice</listEntry> -->
            <listEntry value="1">Random Number</listEntry>
            <listEntry value="2">Random Name</listEntry>
            <listEntry value="3">Yes / No</listEntry>
            <listEntry value="4">Rock Paper Scissors</listEntry>
            <!-- <listEntry value="5">Magic 8 Ball</listEntry> -->
            <listEntry value="6">Coin Flip</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.NameList" title="Name List (separate by commas)">
        <settingConfig type="alphaNumeric" />
    </setting>



    <setting propertyKey="@Properties.RangeMin" title="Min Number">
        <settingConfig type="numeric" />
    </setting>
    <setting propertyKey="@Properties.RangeMax" title="Max Number">
        <settingConfig type="numeric" />
    </setting>
    <setting propertyKey="@Properties.BorderRectangle" title="Draw a border on glance?">
        <settingConfig type="List">
            <listEntry value = "0">No</listEntry>
            <listEntry value = "1">Yes</listEntry>
        </settingConfig>
    </setting>
    
</settings>